
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

header {
    background-color: 	#8B0000;
    font-family: "Merriweather", serif;;
}
footer {
    background-color: 	#8B0000;
    font-family: "Merriweather", serif;;
}

body{
    background-color: 	#1C1C1C;
    font-family: "Merriweather", serif;
}
.container{
    max-width:;
    
}

main {
    background-color: 	#1C1C1C;
    color: #F5F5DC;
}
.heros-feed{
    display:flex;
    
}

.monstre-card{
    
    width: 33%;
    border : 3px solid 	#8B0000;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    background-color: #F5F5DC;
    color: 	#1C1C1C;
    

}

h1{
    font-family: "cinzel decorative", serif;
}

.monstre-card h2{
    color : #D4AF37;
    font-family: "cinzel decorative", serif;
}

.monstre-card table {
    border-collapse: collapse;
    border: 1px solid black;
}

.monstre-card tr th {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

.monstre-card img{
    width: 300px;
    height: auto;
    border-radius: 8px;
}

/* Bouton page feed */

#bouton-reroll{
    padding: 10px 20px;
    background-color: #8B0000;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-family: 'Cinzel', serif;
    cursor: pointer;
    transition: 0.3s;
}

#bouton-reroll:hover {
    background-color: #D4AF37;
    color: #1C1C1C;
}

